<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    {# Voice Output JS #}
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    {# Microphone Access JS #}
    {% load static %}
    <script src="{% static "p5/p5.js" %}"></script>
    <script src="{% static "p5/addons/p5.sound.js" %}"></script>
    <script src="{% static "p5/addons/p5.dom.js" %}"></script>
    <script src="{% static "recorder/recorder.js" %}"></script>
    {# Play reminder sound #}
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>

</head>
<body>

    {# Welcome auto-speaking by webpage when visited #}
    <script>
        $(document).ready (function() {
            {% if username %}
                responsiveVoice.speak("Hello" + "{{ username }}" + "! Welcome back to Bear Lights!");
            {% else %}
                responsiveVoice.speak("Hello! Welcome to Bear Lights! Please press space to voice input commands");
            {% endif %}
        })
    </script>

    {# Listen to KeyBoard inputs ('space') and record user's voice input #}
    <script>
        {# Initialize recording states & variables #}
        var record_state = 0;
        var mic, recorder, soundFile;
        var voice_stream;
        {# Create an audio in #}
        mic = new p5.AudioIn();
        mic.start();
        {# Create a sound recorder #}
        recorder = new p5.SoundRecorder();
        {# Connect the mic to the recorder #}
        recorder.setInput(mic);
        {# Create a sound file to save #}
        soundFile = new p5.SoundFile();

        {# Respond to key press #}
        $(document).keypress(function(event) {
            var code = event.keyCode ? event.keyCode : e.which;
            {# Respond if user press 'space' key #}
            if (code === 32) {
                {# If in static state (record_state = 0) and microphone accessibility enabled#}
                if (record_state === 0 && mic.enabled) {
                    $.playSound("http://data.huiyi8.com/2017/gha/03/17/1702.mp3");
                    {# Start recording into the soundFile #}
                    recorder.record(soundFile);
                    {# Update record_state = 1 (recording mode) #}
                    record_state = 1;
                }
                else {
                    $.playSound("http://data.huiyi8.com/2017/gha/03/17/1702.mp3");
                    {# Stop the recorder #}
                    recorder.stop();
                    {# Save the soundFile #}
                    {# p5.prototype.saveSound(soundFile, 'voiceInput.wav'); #}
                    {# Export the soundFile as application/octet-stream #}
                    voice_stream = p5.prototype.toStream(soundFile);
                    record_state = 0;
                }
            }
        });

        if (voice_stream) {
            {# Create a wave file storing the audio #}
            var audio_file = new File(
                voice_stream,
                'audio.wav',
                { type: 'application/octet-stream' }
            );

            var voice_input = $("#voice");
            voice_input.val(audio_file);
            var button_submit = $('#submit');
            button_submit.click();
        }
    </script>

    <form method = 'post'>
        <h1>Congrats! Welcome！</h1>
              <div class="form-group">
                  <label for="audio"><span style="font-size: medium; display: none">Voice</span></label><br>
                  <input type='file' class="input form-control" id="audio" name="audio" required>
              </div>
              {# Allow user to create a profile by pressing the button #}
              <div class="form-group" align=center>
                  <label class="sr-only">Submit Registration</label>
                  <input class="btn btn-primary" id="submit" type="submit" value="Register">
              </div>
    </form>

    {% if filename %}
        <h1>
            <span style="color: red; font-weight: bold;">
                Saved filename: {{ filename }}
            </span>
        </h1>
    {% endif %}
</body>
</html>